/** basics **/
body {
font-family:"Segoe UI",Frutiger,Tahoma,Helvetica,"Helvetica Neue",Arial,sans-serif;
}
table {
border-collapse:collapse;
max-width:500px;
width:500px;
}
td, th {
border:1px solid #DDDDDD;
padding:2px 5px;
text-align:center;
}
caption {
font-weight:bold;
font-size:large;
margin:0 0 0.5em;
}

select#timeKey {
   font-size:large;
}


/** visualize **/
.visualize {
background:none repeat scroll 0 0 #FAFAFA;
border:1px solid #888888;
position:relative;
}
.visualize canvas {
position:absolute;
}
.visualize ul, .visualize li {
margin:0;
padding:0;
}
.visualize .visualize-info {
background:none repeat scroll 0 0 #FAFAFA;
border:1px solid #888888;
opacity:0.8;
padding:3px 5px;
position:absolute;
right:10px;
top:-20px;
}
.visualize .visualize-title {
color:#333333;
display:block;
font-size:1.1em;
margin-bottom:3px;
}
.visualize ul.visualize-key {
list-style:none outside none;
}
.visualize ul.visualize-key li {
float:left;
list-style:none outside none;
margin-right:10px;
padding-left:10px;
position:relative;
}
.visualize ul.visualize-key .visualize-key-color {
height:6px;
left:0;
margin-top:-3px;
position:absolute;
top:50%;
width:6px;
}
.visualize ul.visualize-key .visualize-key-label {
color:#000000;
}
.visualize-pie {
   float:left;
}
.visualize-pie .visualize-labels {
list-style:none outside none;
}
.visualize-pie .visualize-label-pos, .visualize-pie .visualize-label {
   margin:0;
   padding:0;
   position:absolute;
}
.visualize-pie .visualize-label {
   color:#FFFFFF;
   display:block;
   font-size:1em;
   font-weight:bold;
}
.visualize-pie-outside .visualize-label {
   color:#000000;
   font-weight:normal;
}
.visualize-labels-x, .visualize-labels-y {
   left:0;
   list-style:none outside none;
   position:absolute;
   top:0;
}
.visualize-labels-x li, .visualize-labels-y li {
   bottom:0;
   position:absolute;
}
.visualize-labels-x li span.label, .visualize-labels-y li span.label {
   color:#555555;
   position:absolute;
}
.visualize-labels-x li span.line, .visualize-labels-y li span.line {
   border:0 solid #CCCCCC;
   position:absolute;
}
.visualize-labels-x li {
   height:100%;
}
.visualize-labels-x li span.label {
   margin-top:5px;
   top:100%;
}
.visualize-labels-x li span.line {
   border-left-width:1px;
   display:block;
   height:100%;
}
.visualize-labels-x li span.line {
   border:0 none;
}
.visualize-labels-y li {
   width:100%;
}
.visualize-labels-y li span.label {
   display:block;
   margin-right:5px;
   right:100%;
   text-align:right;
   width:100px;
}
.visualize-labels-y li span.line {
   border-top-width:1px;
   width:100%;
}
.visualize-bar .visualize-labels-x li span.label {
   text-align:center;
   width:100%;
}


/** vis light **/
font-size:62.5%;
}
table {
   height:200px;
   margin-left:30px;
   width:500px;
}
table.accessHide {
   left:-999999px;
   position:absolute;
}
td, th {
   font-size:1.2em;
   padding:2px;
   width:13%;
}
th {
   background-color:#F4F4F4;
}
caption {
   color:#333333;
   font-size:1.5em;
   font-weight:bold;
}
.visualize {
   -moz-border-radius:12px 12px 12px 12px;border:1px solid #DDDDDD;
   margin:5px 0 0 30px;
   padding:25px 40px 90px;
}
.visualize canvas {
   background:none repeat scroll 0 0 #FFFFFF;
   border:1px solid #AAAAAA;
   margin:-1px;
}
.visualize-labels-x, .visualize-labels-y {
   left:40px;
   top:25px;
   z-index:100;
}
.visualize-pie .visualize-labels {
   left:40px;
   position:absolute;
   top:25px;
}
.visualize-labels-x li span.label, .visualize-labels-y li span.label {
   color:#444444;
   font-size:0.8em;
   padding-right:5px;
}
.visualize-labels-y li span.line {
   border-style:solid;
   opacity:0.7;
}
.visualize .visualize-info {
   background:none repeat scroll 0 0 transparent;
   border:0 none;
   opacity:1;
   position:static;
}
.visualize .visualize-title {
   color:#333333;
   font-size:1.5em;
   font-weight:bold;
   left:20px;
   margin-bottom:0;
   position:absolute;
   top:0px;
}
.visualize ul.visualize-key {
   background:none repeat scroll 0 0 #EEEEEE;
   bottom:15px;
   color:#AAAAAA;
   left:0;
   padding:10px 0;
   position:absolute;
   width:100%;
   z-index:10;
}
.visualize ul.visualize-key li {
   font-size:1.2em;
   margin-left:20px;
   padding-left:18px;
}
.visualize ul.visualize-key .visualize-key-color {
   height:10px;
   margin-top:-4px;
   width:10px;
}
.visualize ul.visualize-key .visualize-key-label {
   color:#333333;
}
