<html lang="en">
<head>
<title>oSiteStats</title>
<script type="text/javascript" src="/jquery.js"></script>
<link rel="stylesheet" href="/base.css" />

<style>
   td {
      text-align:right;
      min-width: 40px;
   }
   th {
      text-align:right;
   }
</style>
<script type="text/javascript" src="/jquery.sparkline.js"></script>
<script>
   $(document).ready(function() {
      $('.sparkline').sparkline('html', {
      fillColor: 'blue',
	defaultPixelsPerValue: 2,
	minSpotColor: false,
	spotColor: false,});
      $('.counterlink').click(function() {
         var $link = $(this);
         $('textarea[site=' + $link.attr('site') + ']').toggle();
      });
   });
</script>

</head>
<body>
<div id="wrap">
    <div id="header">
        <div id="logo">
        </div>
    </div>
    <div id="main">
      <h1> Dashboard</h1>

      {{#sites}}
         <div style='text-align:center;background-color:#eeeeee;'>
            <form action="./stats/{{title}}" method="GET">
            <button type="submit">{{title}}→</button>
            </form>

            <p>
             <span class='sparkline'>{{sparkValues}}</span><br/>
            {{sparkAvg}} Ø
            <br/>
            {{sparkMax}} max
               <!---
               <a href="#" class="counterlink" site="<% site.title | escapeHtml %>">show counter code</a>
               <br/>
               <% render counterCode %>
               --->
            </p>
         </div>
      {{/sites}}
      <i>Uniques per day. Last 350 days.

    </div>
    <a href="http://github.com/oberhamsi/ositestats">ositestats</a>
    </p>
    </div>
</div>
</body>
</html>


<!--
<div class="siteinfo">
   <h2> New Site </h2>
   <form method="POST">
      Site Name<br/>
      <input name="newSiteTitle" type="text"><br/>
      Domains (comma seperated)<br/>
      <input name="newSiteDomain" type="text" size=50><br/>
      <input value="create" type="submit"/>
   </form>
</div>

<textarea id="code" site="<% site.title | escapeHtml %>" style="display:none" cols=80 rows=12>
 <script type="text/javascript">
   (function() {
     var stss = document.createElement('script');
     stss.type = 'text/javascript';
     stss.async = true;
     stss.src = '<% baseUri %>/hit/?referer=' + escape(document.referrer) +
          '&site=<% site.title | escapeHtml %>' +
          '&random=' + (new Date()).getTime();
     var s = document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(stss, s);
   })();
 </script>
</textarea>
-->
