<% extends './base.html' %>

<% subskin 'head' %>
<script type="text/javascript" src="/jquery.tmpl.js"></script>
<script type="text/javascript" src="/main.js"></script>
<style>
   tr > th {
      text-align:left;
   }

   tr > td {
      text-align: right;
   }
   td {
      min-width: 50px;
   }
   caption {
      font-size: x-large;
      font-weight: bold;
      padding: 20px 0 0 0;
   }

   img#clickgraph {
      width: 700px;
   }

   .uniques {
      border-bottom: blue 3px solid;
   }
   .hits {
      border-bottom: red 3px solid;
   }

   .ui-tabs-hide{
     display: none
   }


</style>
<script>
   var settings = {
      site: "<%site%>",
      timeKey: <% timeKey %>,
   }
</script>

<% subskin 'content' %>
<div >
   <div style='text-align:center;'>
   <a href="/">←Dashboard</a>
   <h1>
      <select id="timeKey" size=4><% for timeKey in <% timeKeys %> render timeKeyOption %></select>

   <% site %>
   </h1>
   </div>

   <div id="monthOverview">
      <h3><span id="monthHits"></span> Pages from <span id="monthUniques"></span> Uniques</h3>
   </div>

   <div id="aggregate">

   </div>


   <div class="distributioncontainer">
      <h3> Clickgraph </h3>

      <a href="/clickgraphs/<% site %>/<% timeKey %>.png">
         <img id="clickgraph" data-stat-graphpath="/clickgraphs/<% site %>/"
               src="/clickgraphs/<% site %>/<% timeKey %>.png"/>
      </a>
   </div>

   <div id="distributions">

   </div>

</div>

<script template="distribution" type="template">
   <div id="tab-${distributionKey}">
   <h3>${title}</h3>

   <table>
      <thead>
            {{if distributionKey == 'userAgent'}}
            <td style='text-align:center'>%</td>
            {{/if}}
            <td></td>
            <td></td>
      </thead>
      {{each distributions}}
         <tr>
            {{if distributionKey == 'userAgent'}}
            <td>${$item.getPercent($index)}</td>
            {{/if}}
            <th>${key}</th>
            <td>${value}</td>
         </tr>
      {{/each}}
   </table>
   </div>
</script>

<script template="aggregate" type="template">
   <table>
      <tr>
      <th></th>
      <th class="hits"> Pages </th>
      <th class="uniques"> Uniques </th>
      </tr>
      {{each aggregates}}
      <tr>
         <th> ${date} </th>
         <td> ${hits}</td>
         <td> ${uniques}</td>
         <td>
            <div style="width: ${$item.getPixelWidth('hits', $index)}px; height: 5px; {{if weekend}} background-color: #ffcccc;  {{else}} background-color:red {{/if}}">
            &nbsp;
            </div>
            <div style="width: ${$item.getPixelWidth('uniques', $index)}px; height: 5px; {{if weekend}} background-color: #ccccff {{else}} background-color:blue {{/if}}">
            &nbsp;
            </div>
         </td>
      </tr>
      {{/each}}
   </table>
</script>

<% subskin timeKeyOption %>
<option value="<% timeKey %>"> <% timeKey | keyToDate | dateFormat "yyyy MMM " %>
