{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/stats.css"/>
<script>
  var settings = {
    pageTimeKey: "{{pageTimeKey}}",
    site: "{{site}}"
  }
</script>
<script type="text/javascript" src="/vivagraph.min.js"></script>
<script type="text/javascript" src="/raphael-min.js"></script>
<script type="text/javascript" src="/ico.js"></script>
<script type="text/javascript" src="/main.js"></script>

{% endblock %}

{% block content %}

       <h1> {{site}} </h1>

      <div id="timeKeys">
        {% for timeValue in timeKeys %}
          <a href="/stats/{{site}}/{{timeValue}}" data-timekey="{{timeValue}}" class="{% if timeValue == pageTimeKey %} active {% endif %} ">
            {{timeValue|keytodate|date:"MMM yyyy"}}
          </a>
        {% endfor %}
      </div>
      <div style="clear:both"></div>

<div class="tabs">
      <ul class="tabheading">
         <li data-tab="#tab-aggregate"> Hits & Clients </li>
         <li data-tab="#clickgraph"> Heatmap </li>
         <li data-tab="#tab-age"> Client Age </li>
         <li data-tab="#tab-userAgent"> Browser/OS </li>
         <li data-tab="#tab-referer"> Traffic sources </li>
         <li data-tab="#tab-page"> Top Pages</li>
      </ul>
</div>
  <div class="content">


      <div style="clear:both"></div>

      <div id="tabs">

      <div id="tab-aggregate" class="tab">
            <div id="monthOverview">
         Served {{aggregates.monthly.0.hits}} page hits to {{aggregates.monthly.0.uniques}} unique clients.
      </div>
        <div id="aggregategraph"></div>

        <p>
         <span class="uniques">Clients</span> and <span class="hits">Hits</span> per day.
       </p>


         <table class="hidden">
            <tr>
            <th></th>
            <th class="hits"> Pages </th>
            <th class="uniques"> Uniques </th>
            </tr>
            {% for aggregate in aggregates.daily %}
            <tr>
               <th> {{aggregate.day|keytodate|date:"dd"}}.</th>
               <td> {{aggregate.hits}}</td>
               <td> {{aggregate.uniques}}</td>
            </tr>
            {% endfor %}
         </table>
      </div>

        {% for distribution in distributions %}
         <div id="tab-{{distribution.key}}" class="tab">

             {% if distribution.key == 'referer' %}
             <span class="hint">
              Clients per traffic source. Read example: "x clients were first refered by domain y".
            </span>
            {% elif distribution.key == 'page' %}
              <span class="hint">
                Pages with most hits.
              </span>
              {% endif %}
            <table>
               <tr><th>
                 {% if distribution.key == 'age' %}
                  Age <br>(months)
                  {% endif %}
               </th><th>
                 {% if distribution.key != 'page' %}
                  Clients<br/>
                  {% else %}
                  Hits
                  {% endif %}
             </th></tr>
            {% for dist in distribution.data|sortByKey:"value" %}

               <tr>
                <td>
                  {{dist.key}}
                </td>
                <td>
                  {{dist.value}}
                </td>
               </tr>
            {% endfor %}
          </table>
           <span class="hint">
            {% if distribution.key == 'userAgent' %}
              Clients per operating system & browser.
           {% elif distribution.key == 'age' %}
              Read example: "x clients are y months old".
             {% endif %}
           </span>

         </div>
         {% endfor %}

         <div id="clickgraph" class="tab distributioncontainer">
       <span class="hint">
          The top links your clients used. Drag and zoom with mouse.
        </span>
         </div>

      </div>
    </div>
  </div>
  <div id="footer">
  Powered by <a href="http://ringojs.org/">RingoJs</a> and <a href="http://github.com/oberhamsi/ositestats">oSiteStats</a>.
</div>

{% endblock %}
