<html lang="en">
<head>
<title><% title %></title>
<script type="text/javascript" src="<% href /static/jquery.js %>"></script>

<% render 'head' %>
</head>
<body>
<div id="wrap">
    <div id="header">
        <div id="logo">
        </div>
        <h1><% title %></h1>
    </div>
    <div id="main">
        <% render 'content' %>
    </div>
    <div id="menu">
        <% render 'menu' %>
    </div>
    <div id="footer"><% footer %></div>
</div>
</body>
</html>

<% subskin 'content' %>
Overwrite this subskin to add content.

<% subskin 'menu' %>
