<% extends 'skins/base.html' %>

<% subskin 'head' %>
<style>
   td {
      text-align:right;
      min-width: 40px;
   }
   th {
      text-align:right;
   }
</style>
<script type="text/javascript" src="<% href ./static/jquery.sparkline.js %>"></script>
<script>
   $(document).ready(function() {
      $('.sparkline').sparkline('html', {
      fillColor: 'blue',
	defaultPixelsPerValue: 1,
	minSpotColor: false,
	spotColor: false,});
      $('.counterlink').click(function() {
         var $link = $(this);
         $('textarea[site=' + $link.attr('site') + ']').toggle();
      });
   });
</script>

<% subskin 'content' %>

<h1> Dashboard</h1>

<table style='border:0px'>
<tr>
   <th></th>
   <th>90 days</th>
   <th>
   min
   </th>
   <th>
   max
   </th>
   <th>
   avg
   </th>
</tr>
<% for site in <% sites %> render siteInfo %>
</table>

<!--
<div class="siteinfo">
   <h2> New Site </h2>
   <form method="POST">
      Site Name<br/>
      <input name="newSiteTitle" type="text"><br/>
      Domain<br/>
      <input name="newSiteDomain" type="text"><br/>
      <input value="create" type="submit"/>
   </form>
</div>
-->

<% subskin 'siteInfo' %>
<tr>
<td>
   <span class="sitetitle">
      <a href="./stats/<% site.title %>"><% site.title %></a> 
   </span>
</td>
<td>
   <span class='sparkline'> <% site.sparkValues %> </span>
</td>
<td>
      <% site.sparkMin %>
</td>
<td> 
      <% site.sparkMax %>
</td>
<td> 
      <% site.sparkAvg %>
</td>

<td>
   <!---
   <a href="#" class="counterlink" site="<% site.title | escapeHtml %>">show counter code</a>
   <br/>
   <% render counterCode %>
   --->
</td>
</tr>

<% subskin 'counterCode' %>
<textarea id="code" site="<% site.title | escapeHtml %>" style="display:none" cols=80 rows=12>
 <script type="text/javascript">
   (function() {
     var stss = document.createElement('script');
     stss.type = 'text/javascript';
     stss.async = true;
     stss.src = '<% rootUrl %>/hit/?referer=' + escape(document.referrer) +
          '&site=<% site.title | escapeHtml %>' +
          '&random=' + (new Date()).getTime();
     var s = document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(stss, s);
   })();
 </script>
</textarea>
