<% extends 'skins/base.html' %>

<% subskin 'head' %>
<link rel="stylesheet" href="<% href /static/dashboard.css %>" />
<script type="text/javascript" src="<% href ./static/jquery.sparkline.js %>"></script>
<script>
   $(document).ready(function() {
      $('.sparkline').sparkline('html', {
	defaultPixelsPerValue: 5,
	minSpotColor: false,
	spotColor: false,});
      $('.counterlink').click(function() {
         var $link = $(this);
         $('textarea[site=' + $link.attr('site') + ']').toggle();
      });
   });
</script>

<% subskin 'content' %>

<h1> Welcome to SiteStats</h1>

<% for site in <% sites %> render siteInfo %>



<div class="siteinfo">
   <h2> New Site </h2>
   <form method="POST">
      Site Name<br/>
      <input name="newSiteTitle" type="text"><br/>
      Domain<br/>
      <input name="newSiteDomain" type="text"><br/>
      <input value="create" type="submit"/>
   </form>
</div>


<% subskin 'siteInfo' %>
<div class="siteinfo">
   <span class='sparkline'> <% site.sparkValues %> </span>

   <!-- FIXME <% href %> once macros are resovled in macros --->
   <span class="sitetitle">
      <a href="./stats/<% site.title %>"><% site.title %></a> 
   </span>
<!--   <br/>
   <a href="#" class="counterlink" site="<% site.title | escapeHtml %>">show counter code</a>
   <br/>
   <% render counterCode %>
-->
</div>

<% subskin 'counterCode' %>
<textarea id="code" site="<% site.title | escapeHtml %>" style="display:none" cols=80 rows=12>
 <script type="text/javascript">
   (function() {
     var stss = document.createElement('script');
     stss.type = 'text/javascript';
     stss.async = true;
     stss.src = '<% rootUrl %>/hit/?referer=' + escape(document.referrer) +
          '&site=<% site.title | escapeHtml %>' +
          '&random=' + (new Date()).getTime();
     var s = document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(stss, s);
   })();
 </script>
</textarea>
