<% extends 'skins/base.html' %>

<% subskin 'head' %>
<script type="text/javascript">

var render = function(data) {
   $("#sts-tablecaption").html(data.distributionKey + "s, " + data.timeKey);
   var distributions = data.distributions;
   console.log(distributions);
   var keys = [key for (key in distributions[0] && distributions[0].distributions || {})];
   var thead = $("#sts-tablehead");
   thead.append("<td>&nbsp;</td>");
   keys.forEach(function(key) {
      thead.append("<th scope='row'>" + key + "</th>");
   });
   var $tbody = $("#sts-tablebody");
   
   distributions.forEach(function(dist) {
      var $row = $("<tr></tr>");
      $row.append("<th>" + dist.day + "</th>");
      for each (var key in keys) {
         $row.append("<td>" + (dist.distributions[key] || 0) + "</td>");
      };
      $tbody.append($row);
   });
   
   $('table').visualize({type: 'bar', parseDirection: 'y'});
};

var load = function() {
   $.get('/distributiondata/', function(data) {
      render(data);
   });
};

$(document).ready(function() {
   load();
});
</script>

<% subskin 'content' %>

<table>
	<caption id='sts-tablecaption'></caption>
	<thead>
		<tr id='sts-tablehead'>
		</tr>
	</thead>
	<tbody id='sts-tablebody'>

	</tbody>
</table>
