<% extends 'skins/base.html' %>

<% subskin 'head' %>
<script type="text/javascript" src="<% href /static/handlebars.js %>"></script>
<style>
   tr > th {
      text-align:left;
   }
   
   tr > td {
      text-align: right;
   }
   td {
      min-width: 50px;
   }
   caption {
      font-size: x-large;
      font-weight: bold;
      padding: 20px 0 0 0;
   }
   
   img#clickgraph {
      width: 700px;
   }
   
   .uniques {
      border-bottom: blue 3px solid;
   }
   .hits {
      border-bottom: red 3px solid;
   }
</style>
<script type="text/javascript">
var site = "<%site%>";
var TEMPLATES = {};

function renderDistTable(data) {

   var distributions = JSON.parse(data.distributions[0].distributions);
   var keys = [];
   for (var key in distributions) {
      keys.push(key);
   }
   keys.sort(function(a, b) {
      return ( (distributions[b] || 0) - (distributions[a] || 0));
   });
   
   var distData = [];
   keys.forEach(function(k) {
      distData.push({key: k, value: distributions[k]});
   });
   
   var result = TEMPLATES.distribution({
      distributionKey: data.distributionKey,
      distributions: distData,
   });
   return result;
};

var WEEKDAY = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
function renderAggregateTable(data) {

   var aggData = [];

   var maxValue = 0;

   var date = new Date();
   date.setYear(data.timeKey.substr(0, 4));
   date.setMonth(data.timeKey.substr(5, 6));
   data.aggregates.forEach(function(aggregate) {
      date.setDate(aggregate.day.substr(6,8));
      aggData.push({
         date: date.getDate() + '., ' + WEEKDAY[date.getDay()],
         hits: aggregate.hits || "0",
         uniques: aggregate.uniques || "0"
      });
      if (aggregate.hits > maxValue) {
         maxValue = aggregate.hits;
      }
      if (aggregate.uniques > maxValue) {
         maxValue = aggregate.uniques;
      }
   });
      
   var MAX_WIDTH = 400;
   return TEMPLATES.aggregate({
      aggregates: aggData
      }, {
      hitsWidth: function(ctx) {
            return parseInt(ctx.hits / maxValue * MAX_WIDTH, 10)
      },
      uniquesWidth: function(ctx) {
            return parseInt( ctx.uniques / maxValue * MAX_WIDTH, 10)
      },
   });
};

function updateClickGraph(timeKey) {
   $clickgraph = $("#clickgraph");
   var url = $clickgraph.attr("clickGraphPath") + "/" + timeKey + ".png";
   $clickgraph.attr("src", url);
   return;
};

function onTimeKeyChange() {
   var timeKey = $(this).val();
   document.location.hash = timeKey;
   
   var $distributions = $("#distributions");
   var $aggregates = $("#aggregate");
   // clear old data
   $distributions.empty();
   $aggregates.empty();
   
   // clickgraph img src update
   updateClickGraph(timeKey);
   
   // aggregates hits, uniques
   $.get('/aggregatedata/<%site%>/' + timeKey, function(data) {
      $aggregates.append(renderAggregateTable(data, $('table#hits')));
   });
   
   // aggregates hits, uniques for whole month
   $.get('/aggregatedata/<%site%>/' + timeKey.substr(0,4), function(data) {
      var currentMonthAggregate = null;
      data.aggregates.some(function(aggregate) {
         if (aggregate.month == timeKey) {
            currentMonthAggregate = aggregate;
            return true;
         }
         return false;
      });
      if (!currentMonthAggregate) return;
      
      $("#monthUniques").html(currentMonthAggregate.uniques);
      $("#monthHits").html(currentMonthAggregate.hits);
   });

   $.get('/distributiondata/<%site%>/page/' + timeKey, function(data) {
      $distributions.append(renderDistTable(data, $("table#page")));
   });
   $.get('/distributiondata/<%site%>/referer/' + timeKey, function(data) {
      $distributions.append(renderDistTable(data, $("table#referer")));
   });
   $.get('/distributiondata/<%site%>/userAgent/' + timeKey, function(data) {
      $distributions.append(renderDistTable(data, $("table#useragents")));
   });
};

$(document).ready(function() {
   TEMPLATES.distribution = Handlebars.compile($('[template=distribution]').text());
   TEMPLATES.aggregate = Handlebars.compile($('[template=aggregate]').text());
   
   $('#timeKey').change(onTimeKeyChange);
   var timeKey = document.location.hash && document.location.hash.substr(1) || "<% timeKey %>";
   $('#timeKey').val(timeKey);
   $('#timeKey').trigger('change');
   return;
});
</script>

<% subskin 'content' %>
<div>
<a href="<% href / %>">←Dashboard</a>
</div>

<h1> <%site%>, <select id="timeKey"><% for timeKey in <% timeKeys %> render timeKeyOption %></select></h1>

<div id="monthOverview">
   <h3><span id="monthHits"></span> Hits from <span id="monthUniques"></span> Uniques.</h3>
</div>

<div id="aggregate">

</div>


<div class="distributioncontainer">
   <h3> Clickgraph </h3>

   <a href="<% clickGraphPath <% site %> %><% timeKey %>.png">
      <img id="clickgraph" clickGraphPath="<% clickGraphPath <% site %> %>" 
            src="<% clickGraphPath <% site %> %><% timeKey %>.png"/>
   </a>
</div>

<div id="distributions">

</div>

<DL>
<DT>Unique<dd>A unique browsing device identified by a cookie or IP/UserAgent combination.
<DT>Page<dd>Content requested by User.
</DL>


<script template="distribution" type="handlebarjs">
   <table>
      <caption>top {{distributionKey}}s</caption>
      {{#distributions}}
         <tr>
            <th>{{key}}</th>
            <td>{{value}}</td>
         </tr>
      {{/distributions}}
   </table>
</script>

<script template="aggregate" type="handlebarjs">
   <table>
      <tr>
      <th></th>
      <th class="uniques"> Uniques </th>
      <th class="hits"> Pages </th>
      </tr>
      {{#aggregates}}
      <tr>
         <th> {{date}} </th>
         <td> {{uniques}}</td>
         <td> {{hits}}</td>
         <td>
            <div style="width: {{#hitsWidth}} {{/hitsWidth}}px; height: 5px; background-color:red">
            &nbsp;
            </div>
            <div style="width: {{#uniquesWidth}} {{/uniquesWidth}}px; height: 5px; background-color:blue">
            &nbsp;
            </div>
         </td>
      </tr>
      {{/aggregates}}
   </table>
</script>

<% subskin timeKeyOption %>
<option value="<% timeKey %>"> <% timeKey | keyToDate | dateFormat "MM/yyyy" %>
