<% extends 'skins/base.html' %>

<% subskin 'head' %>
<link rel="stylesheet" href="<% href /static/visualize.css %>" />
<script type="text/javascript" src="<% href /static/pureskin.js %>"></script>
<script type="text/javascript" src="<% href /static/jquery.visualize.js %>"></script>
<script type="text/javascript">
var site = "<%site%>";

function renderDistTable(data, $table) {
   $("#sts-tablecaption", $table).html(data.distributionKey + "s");
   var dist = data.distributions[0];
   var keys = [];
   for (var key in dist.distributions) {
      keys.push(key);
   };
   var $tbody = $(".sts-tablebody", $table);
   
   keys = keys.filter(function(k) {
      return dist.distributions[k];
   });
   keys.sort(function(a, b) {
      return ( (dist.distributions[b] || 0) - (dist.distributions[a] || 0));
   });
   if (keys.length > 10) keys = keys.splice(0, 10);
   keys.forEach(function(key) {
      var $row = $("<tr></tr>");
      $row.append("<th>" + key + "</th>");
      $row.append("<td>" + (dist.distributions[key] || 0) + "</td>");
      $tbody.append($row);
   }, this);
   return;
};

function renderAggregateTable(data, $table) {
   var $tbody = $(".sts-tablebody", $table);
   data.aggregates.forEach(function(aggregate) {
      var $row = $("<tr></tr>");
      $row.append("<th>" + aggregate.day.substr(6,8) + "</th>");
      $row.append("<td>" + aggregate.hits + "</td>");
      $row.append("<td>" + aggregate.uniques + "</td>");
      $tbody.append($row);
   });
   return;
};

function onTimeKeyChange() {
   var timeKey = $(this).val();
   document.location.hash = timeKey;
   // clear old data
   $(".visualize").empty();
   $(".sts-tablebody").empty();
   
   var distOps = {
      parseDirection: 'x',
      appendTitle: false,
      type: 'pie',
      width: 400,
      height: 400,
   };
      
   $.get('/aggregatedata/<%site%>/' + timeKey, function(data) {
      renderAggregateTable(data, $('table#hits'));
      $('table#hits').visualize({
         type: 'line',
         
         parseDirection: 'y',
         appendTitle: false,
         lineWeight: 10,
         width: 900,
         height: 400,
      }, $("div#vishits"));
   });

   $.get('/distributiondata/<%site%>/page/' + timeKey, function(data) {
      renderDistTable(data, $("table#page"));
      $('table#page').visualize(distOps, $("div#vispage"));
   });
   $.get('/distributiondata/<%site%>/referer/' + timeKey, function(data) {
      renderDistTable(data, $("table#referer"));
      $('table#referer').visualize(distOps, $("div#visreferer"));
   });
   $.get('/distributiondata/<%site%>/userAgent/' + timeKey, function(data) {
      renderDistTable(data, $("table#useragents"));
      $('table#useragents').visualize(distOps, $("div#visagents"));
   });
};

$(document).ready(function() {
   $('#timeKey').change(onTimeKeyChange);
   var timeKey = document.location.hash || "<% timeKey %>";
   $('#timeKey').val(timeKey);
   $('#timeKey').trigger('change');
   return;
});
</script>

<% subskin 'content' %>

<h1> <%site%>, <select id="timeKey"><% for timeKey in <% timeKeys %> render timeKeyOption %></select></h1>

<div>

<table id='hits'>
	<caption></caption>
	<thead>
		<tr class="sts-tablehead">
		   <td>Date</td>
			<th scope="row">Hits</th>
			<th scope="row">Uniques</th>
		</tr>
	</thead>
	<tbody class="sts-tablebody">
	</tbody>
   </table>
   <div id="vishits" class="visualize" style="float:left">
   </div>
</div>

<div class="distributioncontainer">
   <table id='page' style="float:left">
	   <caption id='sts-tablecaption'></caption>
	   <thead>
		   <tr class='sts-tablehead'>
		   </tr>
	   </thead>
	   <tbody class='sts-tablebody'>

	   </tbody>
   </table>
   <div id="vispage" class="visualize" style="float:left">
   </div>
</div>

<div class="distributioncontainer">
   <table id='referer' style="float:left">
	   <caption id='sts-tablecaption'></caption>
	   <thead>
		   <tr class="sts-tablehead">
		   </tr>
	   </thead>
	   <tbody class='sts-tablebody'>

	   </tbody>
   </table>
   <div id="visreferer" class="visualize">
   </div>
</div>

<div class="distributioncontainer">
   <table id='useragents' style="float:left;display:none;">
	   <caption id='sts-tablecaption'></caption>
	   <thead>
		   <tr class='sts-tablehead'>
		   </tr>
	   </thead>
	   <tbody class='sts-tablebody'>
	   </tbody>
   </table>
   <div id="visagents" class="visualize">
   </div>
</div>

<div class="distributioncontainer">
   <h3> Clickgraph </h3>
	<img src="<% clickGraphImgUrl <% site %> <% timeKey %> %>"/>
</div>

<% subskin 'aggregateRow' %>
<tr>
   <th><% ag.day %></th>
   <td><% ag.hits %></td>
   <td><% ag.uniques %></td>
</tr>

<% subskin timeKeyOption %>
<option value="<% timeKey %>"> <% timeKey | keyToDate | dateFormat "MM/yyyy" %>
