<% extends 'skins/base.html' %>

<% subskin 'head' %>
<script type="text/javascript">
var site = "<%site%>";

var renderDistTable = function(data, $table) {
   $("#sts-tablecaption", $table).html(data.distributionKey + "s, " + data.timeKey);
   var dist = data.distributions[0];
   var keys = [key for (key in dist && dist.distributions || {})];
   var thead = $("#sts-tablehead", $table);
   thead.append("<td>&nbsp;</td>");
   thead.append("<th scope='row'>" + dist.month + "</th>");

   var $tbody = $("#sts-tablebody", $table);

   keys = keys.filter(function(k) {
      return dist.distributions[k];
   });
   keys.sort(function(a, b) {
      return ( (dist.distributions[b] || 0) - (dist.distributions[a] || 0));
   });
   if (keys.length > 10) keys = keys.splice(0, 10);
   keys.forEach(function(key) {
      var $row = $("<tr></tr>");
      $row.append("<th>" + key + "</th>");
      $row.append("<td>" + (dist.distributions[key] || 0)/10 + "</td>");
      $tbody.append($row);
   }, this);
   return;
};

$(document).ready(function() {
   $('table#hits').visualize({
      type: 'bar',
      parseDirection: 'y',
      appendTitle: false,
      width: 900,
   });
   var distOps = {
      parseDirection: 'x',
      type: 'pie',
      width: 400,
      height: 400,
   };

   $.get('/distributiondata/<%site%>/page', function(data) {
      renderDistTable(data, $("table#page"));
      $('table#page').visualize(distOps);
   });
   $.get('/distributiondata/<%site%>/referer', function(data) {
      renderDistTable(data, $("table#referer"));
      $('table#referer').visualize(distOps);
   });
   $.get('/distributiondata/<%site%>/userAgent', function(data) {
      renderDistTable(data, $("table#useragents"));
      $('table#useragents').visualize(distOps);
   });
   
});
</script>

<% subskin 'content' %>

<h1> SiteStats for <%site%>, <% timeKey %></h1>

<table id='hits'>
	<caption><% duration %> Hits, <% timeKey %></caption>
	<thead>
		<tr>
		   <td></td>
			<th scope="row">Hits</th>
			<th scope="row">Uniques</th>
		</tr>
	</thead>
	<tbody>
      <% for ag in <% hitAggregates %> render aggregateRow %>      
	</tbody>
</table>

<table id='page' class='accessHide'>
	<caption id='sts-tablecaption'></caption>
	<thead>
		<tr id='sts-tablehead'>
		</tr>
	</thead>
	<tbody id='sts-tablebody'>

	</tbody>
</table>

<table id='referer' class='accessHide'>
	<caption id='sts-tablecaption'></caption>
	<thead>
		<tr id='sts-tablehead'>
		</tr>
	</thead>
	<tbody id='sts-tablebody'>

	</tbody>
</table>

<table id='useragents' class='accessHide'>
	<caption id='sts-tablecaption'></caption>
	<thead>
		<tr id='sts-tablehead'>
		</tr>
	</thead>
	<tbody id='sts-tablebody'>

	</tbody>
</table>

<% subskin 'aggregateRow' %>
<tr>
   <th><% ag.day %></th>
   <td><% ag.hits %></td>
   <td><% ag.uniques %></td>
</tr>
