html{background:#7fc8ff url() no-repeat bottom right;
   color:black;margin:0em;}
body{
   font-family: 'UbuntuMono', sans-serif;
   margin: 10px 0px 0px 30px;
   line-height:1.75;
   word-spacing:0.1em;
   letter-spacing: 0.05em;
}


#footer {
   font-size:small;
   padding:1em 0em 0em 0em;
   text-align:center;
   clear:both;
}

#content {
   background-color: white;
   width: 30em;
}

