html{background:white url() no-repeat bottom right;color:black;margin:4em;}
body{
   font-family: 'Aldrich', sans-serif;
   margin:1.75em;
   width:50em;
   line-height:1.75;
   word-spacing:0.1em;
   letter-spacing: 0.05em;
}


#footer {
   font-size:small;
   margin-top: 3em;
   text-align:right;
}

